@mixin form-btn {
    color: #fff;
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    height: 5rem;
    border: none;
    border-radius: .5rem;
    letter-spacing: .1rem;
    // transition: all .3s;
    background-color: var(--theme-color);
    
    &:hover{
        filter: brightness(90%);
    }
    &:active{
        transform: scale(.99);
    }
};

@mixin inputField {
    
    color: #fff;
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: .5rem;
    outline: none;
    background-color: var(--login-dark-background);
    filter: brightness(90%);
    box-shadow: inset -5px -5px 10px 0px #00000033;

    &::placeholder{
        color: #ffffff50;
    }
}