.navigation{
    min-height: 100vh;
    max-height: 100vh;
    max-width: 7rem;
    min-width: 7rem;
    text-align: center;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--theme-color);

    &::-webkit-scrollbar{
        width: .5rem;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 1rem;
        background-color: transparent;
    }
    &:hover::-webkit-scrollbar-thumb{
        background-color: #ffffff77;
    }

    .nav-brand{
        display: block;
        a{
            svg{
                padding: 1rem;
                width: 5rem;
                border: none;
                border-radius: .5rem;
                background-color: whitesmoke;
            }
        }
    }
    .navs{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav-links{
        margin-bottom: 2rem;
        i{
            color: #ffffff50;
            font-size: 2rem;
            transition: all .3s;
            &:hover{
                color: #ffffff;
            }
        }
    }
}